# Environments
.env
.env.local
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.venv
ENV/
.python-version

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
